<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
      <ul class='navbar-nav ml-auto main-nav align-items-center'>
      <li class='nav-item'>
      <%= link_to "プライバシーポリシー", privacy_url %>
      </li>
      <li class='nav-item'>
        <div class='copyright'>
          <p>Copyright © 2022. MURAKAMI ERIKA</p>
        </div>
        </li>
        </ul>
      </div>
    </div>
  </div>
</footer>