.container {
    .field{
          color: rgb(95, 165, 234);  
        .form-control{
            background-color: rgb(255, 232, 189);
        }
    }

    @media screen and (max-width: 767px) {
        font-size: 2.0rem;
    }

    /* グッズ（merchandise）の編集リンク用 */
    .merchandise-text{
        color: rgb(255, 186, 57);
    }
}

  