.main-container{
    h3 {
        border-bottom: dashed 1px #87CEFA;
    }

    h4 {
        padding-bottom: 10px;
    }

    .innner-text {
        padding-bottom: 20px;

        .form-text{
            padding-bottom: 15px;            
        }

        .merchandise-text {
            font-size: 20px;
        }

        .category-text {
            border-radius: 10px;
        }
    }
}