.main-container{
    h3 {
        border-bottom: dashed 1px #87CEFA;
    }
    .innner-text {
        padding-bottom: 50px;

        .form-text{
            padding-bottom: 10px;            
        }

        .merchandise-text {
            font-size: 20px;
        }
    }
}