.top-wrapper{
    background-color: rgb(255, 251, 236);
    position: relative;
    width: 100%;
    height: calc(100% - 134px);
  .container {
    .title{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      }

      h1 {
        font-size: 2.6rem;    
        color: rgb(95, 165, 234);
        @media screen and (max-width: 767px) {
          font-size: 2.0rem;
        }     
      }

      .information{
          background-color: rgb(255, 232, 189);
          border-radius: 10px;
          font-size: 30px;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
      }

      .main-information{
        background-color: rgb(255, 232, 189);   
        border-radius: 10px;
        padding-top: 40px;

        li{
          padding-bottom: 20px;
          font-size: 20px;
          @media screen and (max-width: 767px) {
            font-size: 1.0rem;
          }
        }
      }

      btn btn-warning{
        position: relative;
        width: 100%;
        margin: 2rem auto;
        transform: translate(-50%,-50%);
      }
  }
}